### Obtención de datos meteorológicos API de AEMET.

Obtenemos las diferentes estaciones con sus cordenadas y las precipitaciones en (l /m3) registradas en la hora previa a una fehca dada.

In [6]:
import requests
import urllib
import pandas as pd

url = "https://opendata.aemet.es/opendata/api/observacion/convencional/todas"

querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtb2VsbW9hQHVvYy5lZHUiLCJqdGkiOiI4ZDdhMWVmYS05NTcxLTQ0Y2MtYThhNi1iZjRkMmUyYWE0ZWEiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYzNTU5MTc4MiwidXNlcklkIjoiOGQ3YTFlZmEtOTU3MS00NGNjLWE4YTYtYmY0ZDJlMmFhNGVhIiwicm9sZSI6IiJ9.Gc4Qmws53ifnrjBdqLAjKRsNLW26SI_7OFg0OzC2Tdg"}

headers = {
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

url=''.join(response.text).split(',')[2].split('" :')[1][2:-1]
file = urllib. request. urlopen(url)
lon,lat,name,prec,time=[],[],[],[],[]
temp1,temp2,temp3,temp4,temp5=None,None,None,None,None
cnt=0
for i,line in enumerate(file):
  decoded_line = line.decode('latin1')
  
  if len(line)>10:
    if str((str(line).split(':')[0])).split('"')[1] == 'lon':
      temp1=str(str((str(line).split(':')[1])).split(' ')[1]).split(',')[0]
     
    elif str((str(line).split(':')[0])).split('"')[1] == 'lat':
      temp2=str(str((str(line).split(':')[1])).split(' ')[1]).split(',')[0]
     
    elif str((str(line).split(':')[0])).split('"')[1] == 'prec':
      temp3=str(str((str(line).split(':')[1])).split(' ')[1]).split(',')[0]

    elif str((str(line).split(':')[0])).split('"')[1] == 'fint':
      temp4=str((str(line).split(':')[1])).split('"')[1]
    elif str((str(line).split(':')[0])).split('"')[1]=='ubi':
      temp5=str((str(line).split(':')[1])).split('"')[1]

    if temp1!=None and temp2!=None and temp3!=None and temp4!=None:
        prec.append(temp3) 
        lon.append(temp1)
        lat.append(temp2)
        time.append(temp4)
        name.append(temp5)
        temp1,temp2,temp3,temp4,temp5=None,None,None,None,None

In [7]:
d = {'name':name,'lon': lon, 'lat': lat,'time':time,'prec':prec}
df_aemet = pd.DataFrame(data=d)
df_aemet

                                       name         lon  ...           time prec
0                                      None    0.963335  ...  2021-11-06T19  0.0
1                                   ALFORJA    1.178894  ...  2021-11-06T19  0.0
2                           REUS/AEROPUERTO    1.260838  ...  2021-11-06T19  0.0
3                                     VALLS    1.249167  ...  2021-11-06T19  0.0
4                 TARRAGONA  FAC. GEOGRAFIA    1.519269  ...  2021-11-06T19  0.0
...                                     ...         ...  ...            ...  ...
18446      LAS PALMAS G.C. SAN CRIST\xd3BAL  -15.421389  ...  2021-11-07T18  0.0
18447  LAS PALMAS DE GC. PLAZA  DE LA FERIA  -15.595833  ...  2021-11-07T18  0.0
18448                            MASPALOMAS   -13.51021  ...  2021-11-07T18  0.0
18449        TEGUISE LA GRACIOSA-HELIPUERTO     -18.115  ...  2021-11-07T18  0.0
18450                        DEHESA-REFUGIO   -17.88889  ...  2021-11-07T18  0.0

[18451 rows x 5 columns]

Obtener propietario de un sitio web.

In [8]:
!pip3 install python-whois
import whois
print(whois.whois('https://www.embalses.net/'))

Collecting python-whois
  Downloading python-whois-0.7.3.tar.gz (91 kB)
     |████████████████████████████████| 91 kB 4.4 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from python-whois) (0.16.0)
Building wheels for collected packages: python-whois
  Building wheel for python-whois (setup.py) ... done
  Created wheel for python-whois: filename=python_whois-0.7.3-py3-none-any.whl size=87721 sha256=418e37a38f2f5d572d027e70c459ad15252181efa0805fc83c208742e015a024
  Stored in directory: /root/.cache/pip/wheels/11/05/f7/895ce5a73665f77c8274a7d55e34fb3e6b4abbb9a7637e215b
Successfully built python-whois
Installing collected packages: python-whois
Successfully installed python-whois-0.7.3
{
  "domain_name": [
    "EMBALSES.NET",
    "embalses.net"
  ],
  "registrar": "ENOM, INC.",
  "whois_server": "WHOIS.ENOM.COM",
  "referral_url": null,
  "updated_date": "2017-03-10 20:36:19",
  "creation_date": "2005-12-05 17:45:51",
  "expiration_date": [
    "2022-12-05 17:45:51",
    "2022-12-05 17:45:00"
  ],
  "name_servers": [
    "DNS1.NAME-SERVICES.COM",
    "DNS2.NAME-SERVICES.COM",
    "DNS3.NAME-SERVICES.COM",
    "DNS4.NAME-SERVICES.COM",
    "DNS5.NAME-SERVICES.COM"
  ],
  "status": [
    "clientDeleteProhibited https://icann.org/epp#clientDeleteProhibited",
    "clientTransferProhibited https://icann.org/epp#clientTransferProhibited",
    "clientDeleteProhibited https://www.icann.org/epp#clientDeleteProhibited",
    "clientTransferProhibited https://www.icann.org/epp#clientTransferProhibited"
  ],
  "emails": [
    "ttwpslcrw@whoisprivacyprotect.com",
    "ABUSE@ENOM.COM"
  ],
  "dnssec": "unsigned",
  "name": "Whois Agent (643287951)",
  "org": "Whois Privacy Protection Service, Inc.",
  "address": [
    "PO Box 639",
    "C/O embalses.net"
  ],
  "city": "Kirkland",
  "state": "WA",
  "zipcode": "98083",
  "country": "US"
}

In [9]:
import pandas as pd
from urllib.request import urlopen
from urllib.request import Request
from urllib.parse import urlparse
from bs4 import BeautifulSoup
def get_page(url):
    """Scrapes a URL and returns the HTML source.
    
    Args:
        url (string): Fully qualified URL of a page.
    
    Returns:
        soup (string): HTML source of scraped page.
    """

    response = urlopen(Request(url, headers={'User-Agent': 'Mozilla'}))
    soup = BeautifulSoup(response, 
                         'html.parser', 
                         from_encoding=response.info().get_param('charset'))
    
    return soup

In [10]:
robots = get_page("https://www.embalses.net/robots.txt")
robots

User-Agent: *
Disallow: /contenidos/

In [11]:
!curl -X GET --header 'Accept: text/plain' 'https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/252'

In [12]:
def get_sitemaps(robots):
    """Parse a robots.txt file and return a Python list containing any sitemap URLs found.

    Args:
        robots (string): Contents of robots.txt file.
    
    Returns:
        data (list): List containing each sitemap found.
    """

    data = []
    lines = str(robots).splitlines()

    for line in lines:
        if line.startswith('Sitemap:'):
            split = line.split(':', maxsplit=1)
            data.append(split[1].strip())

    return data

In [13]:
from bs4 import BeautifulSoup
import requests

xmlDict = {}

r = requests.get("https://www.embalses.net/")
xml = r.text

soup = BeautifulSoup(xml)
sitemapTags = soup.find_all("sitemap")

print("The number of sitemaps are {0}".format(len(sitemapTags)))

for sitemap in sitemapTags:
    xmlDict[sitemap.findNext("loc").text] = sitemap.findNext("lastmod").text

print(xmlDict)

The number of sitemaps are 0
{}

Obtención de datos de embalses

In [14]:
!pip3 install requests
import requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [15]:
page = requests.get('https://www.embalses.net/')

In [16]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content)

In [17]:
print(soup.title.string)

Embalses.net - Estado de los Embalses, pantanos y presas de España

Obtención de las url de las comunidades.

In [18]:
url_comunidades=[]
for i in soup.find_all('a'):
  try:
    if len(str(i).split('href="')[1].split('"')[0].split("/"))>3:
    #print(str(i).split('href="')[1].split('"')[0].split("/"))
      if str(i).split('href="')[1].split('"')[0].split("/")[3].startswith('comunidad-'):  
        print(str(i).split('href="')[1].split('"')[0])
        url_comunidades.append(str(i).split('href="')[1].split('"')[0])
  except:
    pass

https://www.embalses.net/comunidad-1-andalucia.html
https://www.embalses.net/comunidad-2-aragon.html
https://www.embalses.net/comunidad-3-asturias.html
https://www.embalses.net/comunidad-6-canarias.html
https://www.embalses.net/comunidad-7-cantabria.html
https://www.embalses.net/comunidad-9-castilla-y-leon.html
https://www.embalses.net/comunidad-8-castilla-la-mancha.html
https://www.embalses.net/comunidad-10-cataluna.html
https://www.embalses.net/comunidad-13-comunidad-de-madrid.html
https://www.embalses.net/comunidad-17-comunidad-valenciana.html
https://www.embalses.net/comunidad-11-extremadura.html
https://www.embalses.net/comunidad-12-galicia.html
https://www.embalses.net/comunidad-4-islas-baleares.html
https://www.embalses.net/comunidad-16-la-rioja.html
https://www.embalses.net/comunidad-15-navarra.html
https://www.embalses.net/comunidad-5-pais-vasco.html
https://www.embalses.net/comunidad-14-region-de-murcia.html

Obtención de las url de cada embalse.

In [19]:
url_pantano=[]
for i in url_comunidades:
  sub_page = requests.get(i)
  sub_soup = BeautifulSoup(sub_page.content)
  for j in sub_soup.find_all('a'):
    if len(str(j).split('href="')[1].split('"')[0].split("/"))>3:
      if str(j).split('href="')[1].split('"')[0].split("/")[3].startswith('pantano-'): 
        #print(str(j).split('href="')[1].split('"')[0])
        url_pantano.append(str(j).split('href="')[1].split('"')[0])

Obtención de los datos de cada embalse.

In [20]:
values_dict={'Fecha':[],'hm':[],'Diff':[]}
result={}
for i in url_pantano:
  sub_sub_page = requests.get(i)
  sub_sub_soup = BeautifulSoup(sub_sub_page.content)
  pantano=i.split('.')[-2].split('-')[-1]
  result[pantano]={'Fecha':[],'hm':[],'Diff':[]}
  for j in list(sub_sub_soup.find('tbody'))[1:]:
    if len(str(j).split('>'))==13: 
      result[pantano]['Fecha'].append(str(j).split('>')[3].split('<')[0])
      result[pantano]['Diff'].append(str(j).split('>')[10].split('<')[0].split(' ')[-1])
      result[pantano]['hm'].append(str(j).split('>')[7].split('<')[0])
    elif len(str(j).split('>'))==9:
      result[pantano]['Fecha'].append(str(j).split('>')[2].split('<')[0])
      result[pantano]['Diff'].append(str(j).split('>')[6].split('<')[0].split(' ')[-1])
      result[pantano]['hm'].append(str(j).split('>')[4].split('<')[0])

In [21]:
empty=[]
for i in result:
  if  result[i]== {'Fecha':[],'hm':[],'Diff':[]}:
    empty.append(i)
for i in empty:
  del result[i]

In [22]:
import pandas as pd
df_cmpl=[]
for i in result:
  df=pd.DataFrame(result[i])
  df['Pantano']=i
  df_cmpl.append(df)

In [23]:
df_embalses=pd.concat(df_cmpl)
df_embalses.sort_values('Pantano',inplace=True, ascending=True)

In [24]:
display(df_embalses)

                Fecha      hm  Diff  Pantano
4   06-11-2021  12:00   13.71  0.00  abellan
3   07-11-2021  00:00   13.72  0.00  abellan
2   07-11-2021  06:00   13.72  0.00  abellan
0   07-11-2021  19:00   13.73  0.00  abellan
1   07-11-2021  18:00   13.73  0.00  abellan
..                ...     ...   ...      ...
1   07-11-2021  17:00   72.91  0.00     yesa
0   07-11-2021  17:50  163.78  0.00    zujar
1   07-11-2021  10:50  163.89  0.00    zujar
2   07-11-2021  04:50  163.89  0.00    zujar
3   06-11-2021  10:50  164.11  0.00    zujar

[767 rows x 4 columns]

### Obtención de las coordenadas de los pantanos wikipedia

In [25]:
result_coords={}
for i in df_embalses['Pantano'].unique():
  page = requests.get('https://es.wikipedia.org/w/index.php?search=embalse+{}&title=Especial:Buscar&profile=advanced&fulltext=1&ns0=1&ns100=1&ns104=1'.format(i))
  soup = BeautifulSoup(page.content)
  
  for j in soup.find_all('a'):
    if str(j).split(' ')[1]=='data-serp-pos="0"':
      url="https://es.wikipedia.org"+str(str(j).split('href=')[1].split(' ')[0][1:-1])
      sub_page=requests.get(url)
      sub_soup = BeautifulSoup(sub_page.content)
      for z in sub_soup.find_all('a'):
        
        if str(z).split(' ')[1]=='class="external':
          if str(z).split('href=')[1].split('"')[1].startswith('http://tools.wmflabs.org/geohack/geohack.php?language=es&amp;pagename='):
            sub_url=str(z).split('href=')[1].split('"')[1]
            sub_sub_page=requests.get(sub_url)
            sub_sub_soup = BeautifulSoup(sub_page.content)
            for k in sub_sub_soup.find_all('span'):
              if str(k).split(' ')[1]=='class="geo-dec"':
                result_coords[i]=(str(k).split('<span class="latitude">')[1].split(',')[0],str(k).split('<span class="longitude">')[1].split('<')[0])
                break

In [26]:
df_coords=[]
for i in result_coords:
  df=pd.DataFrame({'Latidud':[result_coords[i][0]],'Longuitud':[result_coords[i][1]]})
  df['Pantano']=i
  df_coords.append(df)

In [27]:
df_coords=pd.concat(df_coords)
df_coords.sort_values('Pantano',inplace=True, ascending=True)

In [28]:
display(df_coords)

            Latidud         Longuitud       Pantano
0             37.31             -3.27       abellan
0       39.36840556         -4.253425       abraham
0   40.618672222222  -4.2211527777778         acena
0       41.97666667       -6.14472222     agavanzal
0   37.469722222222             -6.21         agrio
..              ...               ...           ...
0       40.89305556       -5.49333333  villagonzalo
0         36.870833         -4.166667       vinuela
0            38.215  -1.6001416666667          xiii
0   42.615305555556  -1.1713611111111          yesa
0   38.929827777778  -5.4449277777778         zujar

[196 rows x 3 columns]

### JUNTAR LAS TRES FUENES API DE AEMET , EMBALSES.NET Y WIKIPEDIA en un único dataset.

In [44]:
df_embales_coords=pd.merge(df_embalses,df_coords,how='inner',on='Pantano')
df_embales_coords

                 Fecha      hm  ...          Latidud         Longuitud
0    06-11-2021  12:00   13.71  ...            37.31             -3.27
1    07-11-2021  00:00   13.72  ...            37.31             -3.27
2    07-11-2021  06:00   13.72  ...            37.31             -3.27
3    07-11-2021  19:00   13.73  ...            37.31             -3.27
4    07-11-2021  18:00   13.73  ...            37.31             -3.27
..                 ...     ...  ...              ...               ...
671  07-11-2021  17:00   72.91  ...  42.615305555556  -1.1713611111111
672  07-11-2021  17:50  163.78  ...  38.929827777778  -5.4449277777778
673  07-11-2021  10:50  163.89  ...  38.929827777778  -5.4449277777778
674  07-11-2021  04:50  163.89  ...  38.929827777778  -5.4449277777778
675  06-11-2021  10:50  164.11  ...  38.929827777778  -5.4449277777778

[676 rows x 6 columns]

In [36]:
from math import cos, asin, sqrt

def distance(lat1, lon1, lat2, lon2):
    #print(lat1, lon1, lat2, lon2)
    p = 0.017453292519943295
    hav = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(hav))

def closest(data, v):
    return min(data, key=lambda p: distance(float(v[0]),float(v[1]),float(p[0]),float(p[1])))
    
tempDataList=list(zip(df_aemet.iloc[:,2].tolist() ,df_aemet.iloc[:,1].tolist()))

nearest_station_lon,nearest_station_lat=[],[]
for v in list(zip(df_embales_coords.iloc[:,-2].tolist() ,df_embales_coords.iloc[:,-1].tolist())):
  tmp=closest(tempDataList, v)
  nearest_station_lat.append(tmp[0])
  nearest_station_lon.append(tmp[1])

In [45]:
df_embales_coords['lat']=nearest_station_lat
df_embales_coords['lon']=nearest_station_lon

In [47]:
dataset=pd.merge(df_embales_coords,df_aemet,how='inner', on='lat')

In [49]:
dataset.to_csv('Water-Estimation-Dataset.csv')